@font-face {
    font-family: myFirstFont;
    src: url(/assets/Poppins-Regular.ttf);
  }

.login-page{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #ebeeef;
    position:'relative';
    
}
.login-loader{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(54,84,99,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-hide{
    display: none;
}
.header-login {
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.heading-tag{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(54,84,99,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: bold;
    font-size:1.7em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.header-login img{
    width:100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.footer-login{
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding:2em;
    font-family:myFirstFont;
    color:#808080;
}
.error-message{
    color:red;
    font-size: 10px;
    text-align: center;
}
.error-message-hide{
    visibility: hidden;
}
.username-box,.password-box{
    display: flex;
    margin:2em;
}

.username-box input, .password-box input{
    outline: none;
}

.username-box label,.password-box label{
    margin:0px;    
}
.sign-up{
    float:right;
    margin-right:4em;
    font-size: 10px;
    
}
.sign-up a{
    color:#57b846;
}
.username-inactive,.password-inactive{
    border:none;
    border-bottom: 1px solid #808080;
}
.username-active,.password-active{
    border:none;
    border-bottom: 1px solid green;
}
.login-button{
    margin: auto;
    width:10em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4em;
    color: white;
    height: 2em;
    border-radius: 1em;
    cursor: pointer;

}
.login-inactive{
    background-color: #333333;
}
.login-active{
    background-color: #57b846;
}