

.cell{
    border: none;
    outline: none;
}
.column-heading{
    position:absolute;
    border: 1px solid red; 
    background-color: white;
    width:10em;
}
#heading{
    float:left;
}
.column-icon{
    float:right;
}
.hide-menu{
    display:none; 
}
.visible-menu{
    display: block;
}
